<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div v-if="updateButton">
        <input v-model="nameUser" />
        <button v-on:click="updateUser(nameUser)">Update</button>
      </div>

      <div v-else>
        <input v-model="nameUser" />
        <button v-on:click="addUser(nameUser)">Tambah</button>
      </div>

      <ol>
        <li v-for="(user, index) in users">
          {{ user.name }}
          <button v-on:click="editUser(index)">Update</button> |
          <button v-on:click="deleteUser(index)">Delete</button>
        </li>
      </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          users: [
            {
              name: "Muhammad Iqbal Mubarok",
            },
            {
              name: "Ruby Purwati",
            },
            {
              name: "Faqih Muhammad",
            },
          ],
          updateButton: false,
        },
        methods: {
          addUser: function (nameUser) {
            this.users.push({ name: this.nameUser });
            this.nameUser = "";
          },
          deleteUser: function (index) {
            if (this.editUser == true) {
              alert("Maaf, Tidak bisa menghapus pada mode edit");
            } else {
              if (confirm("Hapus user ini?")) {
                this.users.splice(index, 1);
              }
            }
          },
          editUser: function (index) {
            this.updateButton = true;
            if (this.updateButton == true) {
              this.nameUser = this.users[index].name;
              this.id = index;
            }
          },
          updateUser: function (nameUser) {
            let index = this.id;
            this.users[index].name = nameUser;
            this.updateButton = false;
            this.id = 0;
            this.nameUser = "";
          },
        },
      });
    </script>
  </body>
</html>
